body{
    background-image: linear-gradient (rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61));
    background-size: cover;
    color: white;
}
.head {
    font-family: 'Saira Condensed', sans-serif;
    padding-top: 70px;
    font-size: 100px;
}

.best {
    font-size: 40px;
}

.quote {
    padding-bottom: 70px;
    padding-top: 50px;
}

.intro {
    font-size: 25px;
    font-family: 'Nanum Gothic Coding', monospace;
}

.quot {
    font-size: 20px;
    font-family: 'Arapey', serif;
    font-style: italic;
}

.put {
    font-size: 15px;
} 