{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div style="margin-top:100px;">
         <h1 class="text-center">~ Ikerriz Blog~</h1>
        </div>
    </div>
    <div class=" text-center intro">
        <p>Welcome to Ikerriz Blog a place where you can read, post and comment on any blog of your choice</p>

    </div>
    <div class="quote text-center">
        <h3>Best quote</h3>
        <p>{{ quote.quote }}</p>
        <p>{{ quote.author }}</p>
    </div>


    <div class="text-center">
        <a href="/"><button class="btn btn-primary">View Blogs</button></a>
    </div>

</div>
{% endblock %} 